


@font-face {
    -fx-font-family : 'Source Han Sans CN Regular';
    src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Normal.otf');
}


.button {
  -fx-alignment: center;
}

.button .text {
  -fx-alignment: center;
}
#custom {
	-fx-background-color: #7d0100;
	-fx-text-fill: white
}

.outline-button {
	-fx-background-color: transparent;
	-fx-border-radius: 3;

}

.outline-button:hover,
.outline-button:focused {
	-fx-text-fill: white;
}


.link-button {
	-fx-background-color: transparent;
	-fx-border-radius: 3;
	-fx-text-fill: black;
	-fx-underline: true;
	-fx-cursor: hand;
}

.link-button:armed,
.link-button:focused {
	-fx-border-color: #006BFF;
	-fx-text-fill: black;
}
