@import 'Common.css';
/**************************************************
 * Date Pickers
**************************************************/
#custDatePicker {
	-fx-background-color: #007BF6;
	-fx-border-color: transparent;
	-fx-border-radius: 0;

	-fx-text-fill: white;
}

#custDatePicker .floating-text {
	-fx-background-color: transparent;

	-fx-text-fill: white;
}


#custDatePicker .date-picker-popup .content {
	-fx-background-color: #007BF6;
	-fx-border-color: transparent;
	-fx-border-radius: 0;
}

#custDatePicker .date-picker-popup .left-arrow:disabled,
#custDatePicker .date-picker-popup .right-arrow:disabled {
	-fx-opacity: 0.8;
}


#custDatePicker .date-picker-popup .months-combo,
#custDatePicker .date-picker-popup .years-combo {
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-background-color: white;

	-fx-padding: 4;
	-fx-background-insets: 0;
}

#custDatePicker .date-picker-popup .months-combo:focus-within,
#custDatePicker .date-picker-popup .years-combo:focus-within {
	-fx-text-fill: #007BF6;
}

#custDatePicker .date-picker-popup .months-combo .virtual-flow,
#custDatePicker .date-picker-popup .years-combo .virtual-flow {
	-track-color: derive(#007BF6, 100%);
	-thumb-color: derive(#007BF6, 70%);
	-thumb-hover-color: derive(#007BF6, 45%);
}

#custDatePicker .date-picker-popup .week-day {
	-fx-font-family: 'Open Sans Bold';
	-fx-text-fill: white;
}
